body{
    background-color: #1c326bee;
    color: black;
}
.card-body{
    background: #b5afaffc;    
}
.card{
    width: 20rem;
    height: 40rem;
    background-color: #000000;
    border: 1px #000000 solid;
    box-shadow: 0px 0px 15px #000000;
    border-radius: 6px;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}
.card:hover{
    box-shadow: 0px 0px 25px #d1d1d1;
    border-color: #f7f1f1;    
} 
.carte{
    margin-bottom: 40px;
}
.photo {
    width: 20rem;
    height: 25rem;
    object-fit: cover;
    max-width: 30rem;
    filter:grayscale(60%);
    transition: transform 0.5s;     
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
.top1{    
    margin-top: 110px; 
    margin-left: 70px;
}
.card-adresse{   
    margin-top:-20px;    
}
.photo:hover {
    transform: scale(1.2, 1.2);
    filter: grayscale(0%);       
}

.style-dance{
    overflow: hidden;
    box-shadow: 0px 0px 25px #000000;
}
.page-link{
    background-color: rgb(16, 3, 51);
    color: white;
    border: 1px solid  rgb(16, 3, 51);
}
.base{
   background-color: rgb(16, 3, 51);
   pointer-events: none;
   color: white;
   font-size: 22px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 5px;
}
