{% load static %}

<html lang=fr>
    <head>                
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=google">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" defer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
        <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous" defer></script>
        <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon"/>    
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>       
        <link rel="stylesheet" href="{% static 'style.css' %}">        
        <div id="page">
        {% block head %}{% endblock head %}
        <title>Immo - {% block title%}{% endblock %}</title>          
    </head>
    <body>        
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                    <a class="navbar-brand" hx-target="#page" hx-push-url="true" hx-get="{% url 'index' %}"><img src="{% static 'logo.png' %}"class="navbar-brand ms-1 ms-md-4" height="65" alt="logo">IMMO</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">         
                        <ul class="navbar-nav text-center ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link me-0 me-lg-5 {% if navbar == 'index' %} active {% endif %}" hx-target="#page" hx-push-url="true" hx-get="{% url 'index' %}">Accueil</a></li>                     
                            <li class="nav-item"><a class="nav-link me-0 me-lg-5 {% if navbar == 'locataire' %} active {% endif %}" hx-target="#page" hx-push-url="true" hx-get="{% url 'locataire' %}">Profils</a></li>                          
                            {% if user.is_authenticated %}                           
                            <li class="nav-item"><a class="nav-link me-0 me-lg-5 {% if navbar == 'appartement' %} active {% endif %}" hx-target="#page" hx-push-url="true" hx-get="{% url 'appartement' %}">Appartement</a></li> 
                            <li class="nav-item"><a class="nav-link me-0 me-lg-5 {% if navbar == 'administration' %} active {% endif %}" hx-target="#page" hx-push-url="true" hx-get="{% url 'administration' %}">Locataire</a></li>
                            <li class="nav-item"><a class="nav-link me-0 me-lg-5 {% if navbar == 'paiement' %} active {% endif %}" hx-target="#page" hx-push-url="true" hx-get="{% url 'paiement' %}">Paiement</a></li>
                           <a class="nav-link dropdown-toggle me-0 me-lg-5 {% if navbar == 'login' %} active {% endif %}"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {{ user.username  }} </a></li>
                                <ul class="dropdown-menu dropdown-menu-end bg-dark" aria-labelledby="navbarDropdown">                                                                             
                                    <li><a class="dropdown-item" hx-target="#page" hx-get="{% url 'logout' %}">Déconnection</a></li>
                                </ul>
                            {% else %}  
                                <li class="nav-item"><a class="nav-link me-0 me-lg-5 {% if navbar == 'login' %} active {% endif %}" hx-target="#page" hx-push-url="true" hx-get="{% url 'login' %}">connexion</a></li>
                            {% endif %}
                        </ul>            
                    </div>                  
                </nav>  
            </div>         
        {% block content %}{% endblock content %}       
        
    </body>
</div>               
</html>
{% for message in messages %}
  {% if message.tags == 'success' %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.1/dist/sweetalert2.all.min.js"></script>
    <script>
        var m = "{{ message }}";
        Swal.fire({
            icon: 'success',
            title: m,
            color: "white",
            background: "black",
          })
    </script>
  {% endif %}
{% endfor %}
<script>    
    document.body.addEventListener('htmx:configRequest', (event)=> {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script> 
{% block javascript %}{% endblock javascript %}
