{% extends "base.html" %}
{% load custom_tag %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'formulaire.css' %}"> 
{% endblock head %}

{% block title %}Modifier{% endblock title %}

{% block content %}
<div class="top2"> 
    <div class="row">
        <div class="col-6">
            <form method ="POST" action="{% url 'loc_valide' pk=appartement.id %}">             
                {% csrf_token %}                
                    {{form.as_p}}                  
                <button type="submit" value="submit" class="btn btn-dark" post="{% url 'loc_valide' pk=appartement.id %}"> Modifier</button>
                <a hx-target="#page" hx-push-url="true" hx-get="{% url 'administration' %}"class="btn btnr btn-dark">Retour</a>   
            </form> 
        </div>  
        <div class="col-6" >
        <img src="{% static 'tour.jpg' %}" class="photo">
        </div>    
    </div> 
</div>
{% endblock content %}